<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="basic" :class="classArr" :style="styleObj"> {{text}} </div>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            text:"這是提個位置",
            classArr: {
                a: false,
                b: false,
                c: false,
                d: false,
            },
            styleObj:{
                fontSize: '40px',
            }
        },
        methods:{},
        component:{},

    })
</script>
</html>

<style>
    .basic{
        border: 2px solid #342343;
        width: 200px;
        height:100px

    }
.a{
    background: #42b983;
}
.b{
    background: #2c3e50;
}
.c{
  border-radius: 19px;
}
    .d{
        display: flex;
        align-items: center;
        justify-content: center;

    }
</style>
